*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.header{
    background-color:#1F2937;
    padding:16px 150px 100px;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:80px;
}

.header-logo{
    font-size:24px;
    font-weight:bold;
    color:#F9FAF8;
}

.header-nav{
    display:flex;
    gap:32px;
}

.header-nav a{
    text-decoration:none;
    color:#E5E7EB;
    font-size:18px;
}

/* Hero */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.hero-left{
    flex:1;
}

.hero-left h1{
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;
    margin-bottom:12px;
}

.hero-left p{
    font-size:18px;
    color:#E5E7EB;
    margin-bottom:16px;
    width: 450px;
}

.hero-left button{
    background:#3882F6;
    color:white;
    border:none;
    padding:10px 30px;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

.hero-right{
    width: 500px;
    height:220px;
    background:#6D747D;

    display:flex;
    justify-content:center;
    align-items:center;
    

    color:white;
    font-size:18px;
}

.heading{
    display: flex;
    justify-content: center;
    padding: 1.2%;
    
}

.heading h1 {
   font-size:250% ;
}  

.info{
    display: flex;
    justify-content: center;
    gap: 60px;
} 

.card{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.info .card .box{
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.info .card p{
    margin-top:10px;
    width:150px;
    text-align:center;
}

.big-box{
    display:flex;
    margin-top: 4%;
    background-color: #E5E7EB;
    height: 50%;
    padding: 100px;
    flex-direction: column;
}

.big-box .text{
    font-style: italic ;
    font-weight: 300;
    color:#1F2937;
    font-size: 36px;
}

.big-box h1{
    display: flex;
    justify-content: flex-end;
    
}

.container{
    display: flex;
    justify-content: center;
}

.blue-box{
    display:flex;
    margin-top: 7%;
    background-color: #3882F6;
    width: 800px;
    justify-content: space-around;
    margin-bottom: 6%;
    height: 100px;
    border-radius: 10px;
   
}

.blue-box .blue{
    display:flex;
    flex-direction: column;
    justify-content: center;
    }

.blue-box h1{
    color: white;
}

.blue-box p{
    color: white;
}

.container .blue-box button{
    height: 35px !important;
    padding: 0 20px !important;
    line-height: 30px;
    margin-top: 4%;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    width: 100px;
    border: 2px solid white;
}